<h1>Listado de Héroes</h1>

<!-- <ul>
    <li *ngFor='let heroe of heroes'> {{heroe.superhero }}</li>
</ul> -->


<mat-card *ngFor='let heroe of heroes'>
    <mat-card-header>
        <mat-card-title> {{ heroe.superhero }} </mat-card-title>
        <mat-card-subtitle> {{ heroe.alter_ego }} </mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image [src]="heroe ">

    <mat-card-content>
        <h3>{{ heroe.publisher }}</h3>
        <p>
            <strong>Primera aparición</strong> {{ heroe.first_appearance }}
            <br>
            <strong> Personajes: </strong> {{ heroe.characters }}
        </p>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button 
                color="warn"
                [routerLink]="['/heroes', heroe.id ]">
            Leer más...
        </button>

        <button mat-button 
                color="info"
                [routerLink]="['/heroes/editar', heroe.id ]">
            Editar
        </button>
    </mat-card-actions>

</mat-card>


 <mat-divider></mat-divider>
<br>

<div fxLayout="row wrap"
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="20px">

    <div fxFlex="20"
         fxFlex.lg="15"
         fxFlex.sm="30"
         *ngFor="let heroe of heroes">

         <mat-card *ngFor='let heroe of heroes'>
            <mat-card-header>
                <mat-card-title> {{ heroe.superhero }} </mat-card-title>
                <mat-card-subtitle> {{ heroe.alter_ego }} </mat-card-subtitle>
            </mat-card-header>
        
            <img mat-card-image [src]="heroe ">
        
            <mat-card-content>
                <h3>{{ heroe.publisher }}</h3>
                <p>
                    <strong>Primera aparición</strong> {{ heroe.first_appearance }}
                    <br>
                    <strong> Personajes: </strong> {{ heroe.characters }}
                </p>
            </mat-card-content>
        
            <mat-card-actions>
                <button mat-button 
                        color="warn"
                        [routerLink]="['/heroes', heroe.id ]">
                    Leer más...
                </button>
        
                <button mat-button 
                
                        color="info"
                        [routerLink]="['/heroes/editar', heroe.id ]">
                    Editar
                </button>
            </mat-card-actions>
        
        </mat-card>
        
       
        <!-- <app-heroe-tarjeta [heroe]="heroe"></app-heroe-tarjeta> -->
    </div>
</div>
 